<a href="https://colab.research.google.com/github/bvinaykumarmtech/Python/blob/master/Data%20Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Exercise-1
print("ready to code")

ready to code

In [2]:
#Exercise-2 (Calculator)
a= int(input('Enter 1st Number:  '))
b= int(input('Enter 2nd Number:  '))
c= int(input('Enter 3rd Number:  '))
d= int(input('Enter 4th Number:  '))
e= a+b*c/d
print (e)

Enter 1st Number:  2
Enter 2nd Number:  3
Enter 3rd Number:  4
Enter 4th Number:  5
4.4

In [6]:
#Exercise-6 (Predictive Model - EVEN/ODD)
x= int(input('Enter your number:  '))
if x%2== 0:
  print('EVEN')
else:
  print('ODD')

Enter your number:  -562
EVEN

In [ ]:
Case Study on Amazon

Data Scientist< 15LPA                   AI Specialist< 20LPA
Solving Business Problems               Building Intelligent Products
Eg: Prediction & Forecasting            Eg: Chatbots, SIRI, Alexa, Watson

Data= Text & Numerical                  Data: Image, Video, Voice, recording, Text & Numerical

Skills: Maths, PL, Analytics (EDA),     Skills: Maths, PL, Analytics (EDA), ML, NLP, 
Machine Learning & Visualization                Deep Learning & Visualization

Aditya< Data Intelligent Specialist      In the end: Amazon saves 10LPA
      < DS+ML+DL
Salary= 25LPA