### Data Structures in Python
- List
- Tuple
- Dictionary
- Set

### Demonstration of Lists
- Lists are Mutable
- Accessed through it's indices
- Syntax : list_var = []
- Lists are sequence of both Homogeneous and heterogeneous Elements

In [1]:
# Declaration of Lists in Python
l1 = list() # Empty List Creation
l2 = [] # Empty List Creation

In [2]:
l1

[]

In [3]:
l2

[]

In [4]:
type(l1)

list

In [5]:
print(type(l2))

<class 'list'>

In [6]:
id(l1)

1494825954504

In [7]:
id(l2)

1494824335112

In [8]:
l1 = [1, 2, 3, 4, 5]

In [9]:
print(l1)

[1, 2, 3, 4, 5]

In [11]:
l2 = [1, 'abc', '23.45']

In [12]:
print(l2)

[1, 'abc', '23.45']

In [13]:
# Nested List
l3 = [1, 2, [3,4,5], ['a', 'b', 'c']]

In [14]:
print(l3[1])

2

In [18]:
print(l3[2][1])

4

In [20]:
print(id(l3[2][0]))

140716753851264

In [21]:
print(id(l3[2][1]))

140716753851296

In [22]:
print(id(l3))

1494825613960

In [23]:
l4 = [1,2,3]

In [26]:
l4.append(l1)

In [30]:
l4.append([5, 6, 7])

In [31]:
l4

[1, 2, 3, 4, [1, 2, 3, 4, 5], 5, [5, 6, 7]]

In [32]:
l4.extend([8, 9, 10])

In [33]:
l4

[1, 2, 3, 4, [1, 2, 3, 4, 5], 5, [5, 6, 7], 8, 9, 10]

In [34]:
l4[4].append(6)

In [35]:
l4

[1, 2, 3, 4, [1, 2, 3, 4, 5, 6], 5, [5, 6, 7], 8, 9, 10]

In [36]:
l4.clear() # Total list will be deleted will not be returbed

In [37]:
l4

[]

In [38]:
l3.pop() # Last element will be removed and returned

['a', 'b', 'c']

In [39]:
l3

[1, 2, [3, 4, 5]]

In [45]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [41]:
l3.remove(1) # Element can be deleted will not return item

In [42]:
l3

[2, [3, 4, 5]]

In [44]:
l3.pop(1) # Element at index will be deleted and returned

[3, 4, 5]

In [46]:
l3

[2]

In [47]:
l3.extend([-2, -33, -7, 45, 67])

In [48]:
l3

[2, -2, -33, -7, 45, 67]

In [49]:
l3.reverse()

In [50]:
l3

[67, 45, -7, -33, -2, 2]

In [51]:
l3.sort()

In [52]:
l3

[-33, -7, -2, 2, 45, 67]

In [53]:
help(l3.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

In [54]:
del l3[1:3]  # Used to delete a range of elements from collection (list) will not return

In [55]:
l3

[-33, 2, 45, 67]

In [57]:
help(l3.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [58]:
#insert(index, object)
l3.insert(0, 'abc')

In [59]:
print(l3)

['abc', -33, 2, 45, 67]

In [61]:
l3[1]='def' # Replaces items in lists

In [62]:
print(l3)

['abc', 'def', 2, 45, 67]

### Iteration Over List

In [72]:
lst1 = [1, 2, 3, 4, 5]
for i in lst1:
    print(i, end = ' ')

1 2 3 4 5

In [73]:
lst2 = [1, 2, 3, 4, 5]
for i in range(0, len(lst2), 1):
    print(lst2[i], end = ' ')

1 2 3 4 5

In [63]:
### Program to add one list into another list using appent()
# i/p: list1 = [1, 2, 3, 4]  newList = []
# o/p: newList = [1, 2, 3, 4]

In [66]:
list1 = [1, 2, 3, 4]
newList = []
newList.append(list1[0])
newList.append(list1[1])
newList.append(list1[2])
newList.append(list1[3])
print(newList)

[1, 2, 3, 4]

In [68]:
list1 = [1, 2, 3, 4]
newList = []
for i in list1:
    newList.append(i)
print(newList)

[1, 2, 3, 4]

In [70]:
list1 = [1, 2, 3, 4]
newList = []
for i in range(0, len(list1), 1):
    newList.append(list1[i])
print(newList)

[1, 2, 3, 4]

In [74]:
list1 = [1, 2, 3, 4]
newList = []
newList = list1
print(newList)

[1, 2, 3, 4]

In [98]:
# Write aPython Script to 
# i/p: lst1 = ['abc', 100, 'xyz', 46, 56]
# o/p: ['abc', 'xyz']
lst1 = ['abc', 100, 'xyz', 46, 56]
strlst = []
intlst = []
for i in range(0, len(lst1), 1):
    if(str(lst1[i]).isalpha()):
        strlst.append(lst1[i])
    else:
        intlst.append(lst1[i])
print(intlst)
print(strlst)

[100, 46, 56]
['abc', 'xyz']

In [99]:
# Write aPython Script to 
# i/p: lst1 = ['abc', 100, 'xyz', 46, 56]
# o/p: ['abc', 'xyz']
lst1 = ['abc', 100, 'xyz', 46, 56]
strlst = []
intlst = []
for i in lst1:
    if type(i) == str:
        strlst.append(i)
    else:
        intlst.append(i)
print(intlst)
print(strlst)

[100, 46, 56]
['abc', 'xyz']

In [107]:
# Write aPython Script to 
# i/p: lst1 = ['abc', 100, 'xyz', 46, 56]
# o/p: ['abc', 'xyz']
lst1 = ['abc', 100, 'xyz', 46, 56, True, False]
strlst = []
intlst = []
boollst = []
for i in lst1:
    if type(i) == int:
        strlst.append(i)
    elif type(i) == bool:
        boollst.append(i)
    else:
        intlst.append(i)
print(intlst)
print(strlst)
print(boollst)

['abc', 'xyz']
[100, 46, 56]
[True, False]

In [106]:
# Write aPython Script to 
# i/p: lst1 = ['abc', 100, 'xyz', 46, 56]
# o/p: ['abc', 'xyz']
lst1 = ['abc', 100, 'xyz', 46, 56]
strlst = []
intlst = []
for i in range(0, len(lst1), 1):
    if(str(lst1[i]).isalpha()):
        strlst.append(lst1[i])
    else:
        intlst.append(lst1[i])
print(intlst)
print(strlst)

[100, 46, 56]
['abc', 'xyz']

In [109]:
# Sort the student marks in ascending order
studentMarks = [10, 30, 20, 50]
studentMarks.sort()
print(studentMarks)

[10, 20, 30, 50]

In [110]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

In [112]:
studentMarks = [10, 30, 20, 50]
studentMarks.sort(reverse = True)
print(studentMarks)

[50, 30, 20, 10]

In [133]:
# studentMarks = [[maths, english]]  Sort based on english marks
studentMarks = [[50, 40], [10, 30], [30, 50]]
for i in studentMarks:
    i.reverse()
studentMarks.sort()
for i in studentMarks:
    i.reverse()
print(studentMarks)

[[10, 30], [50, 40], [30, 50]]

In [116]:
numbers = [6, 9, 3, 1]
sorted(numbers)

[1, 3, 6, 9]

In [137]:
# studentMarks = [[maths, english]]  Sort based on english marks
studentMarks = [[50, 40], [10, 30], [30, 50]]
studentMarks.sort(key = lambda x : x[1])
print(studentMarks)

[[10, 30], [50, 40], [30, 50]]

In [139]:
words = ['banana', 'pie', 'Washington', 'book']
sorted(words, key = lambda x: x[::-1])
print(words)

['banana', 'pie', 'Washington', 'book']

### Tuples
- Tuples are Immutable
- Accessed through it's indices
- Syntax : tuple_var = ()
- Tuples are sequence of both Homogeneous and heterogeneous Elements

In [140]:
t1 = ()

In [142]:
t1

()

In [154]:
t1 = 1, 2

In [155]:
print(type(t1))

<class 'tuple'>

In [175]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [157]:
print(t1)

(1, 2)

In [160]:
print(t1[1])

2

In [156]:
t2 = tuple()

In [143]:
t2

()

In [166]:
t1 = (1, 2, 3, 1, 2, 3, 4, 1, 2)

In [177]:
print(t1.index(2))

1

In [172]:
print(t1.index(1, 4))

7

In [168]:
print(t1.count(1))

3

### Dictionaries
- The Values are mutable , Values can be duplicated
- The Keys are immutable   , these are acting as indices to values, Keys must be unique
- Dictionaries are unordered
- Syntax: dict_var = {}
    - dict_var1 = dict()
    - dict_var2 = {1:'abc'}

In [188]:
d = dict()  # Creation of empty Dictionary

In [189]:
d

{}

In [190]:
d1 = {}  # Creation of empty Dictionary

In [191]:
d1

{}

In [192]:
d2 = {1 : 'abc'}

In [193]:
d2

{1: 'abc'}

In [194]:
d2[1]

'abc'

In [195]:
d2[1] = 'def'

In [196]:
d2[1]

'def'

In [197]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [198]:
d2[2]='xyz'

In [199]:
print(d2)

{1: 'def', 2: 'xyz'}

In [202]:
x = [d2[1]]

In [204]:
print(x)

['def']

In [209]:
d3 = { 'Vin' : {'cell':'9133734348', 'zip':521137}}

In [210]:
print(d3['Vin']['zip'])

521137

In [211]:
d4 = {2.3:'abc'}

In [213]:
d4[2.3]

'abc'

In [231]:
d5 = {1:100, 2:200, 3:300, 4:400}

In [232]:
print(d5.keys())
print(d5.values())
print(d5.items())

dict_keys([1, 2, 3, 4])
dict_values([100, 200, 300, 400])
dict_items([(1, 100), (2, 200), (3, 300), (4, 400)])

In [233]:
for i in d5.items():
    print(i)

(1, 100)
(2, 200)
(3, 300)
(4, 400)

In [234]:
for i, j in d5.items():
    print('Key =', i)
    print('Value =', j)

Key = 1
Value = 100
Key = 2
Value = 200
Key = 3
Value = 300
Key = 4
Value = 400

In [235]:
for i in d5.keys():
    print(i)

1
2
3
4

In [236]:
for i in d5.values():
    print(i)

100
200
300
400

In [237]:
help(dict.update)

Help on method_descriptor:

update(...)
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [238]:
d5.update({4:500})

In [239]:
d5

{1: 100, 2: 200, 3: 300, 4: 500}

In [240]:
d5.update({5:500})

In [241]:
print(d5)

{1: 100, 2: 200, 3: 300, 4: 500, 5: 500}

In [242]:
help(dict.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [243]:
# fromkeys()
keys = {'a', 'e', 'i', 'o', 'u' }

vowels = dict.fromkeys(keys)
print(vowels)

{'e': None, 'o': None, 'u': None, 'a': None, 'i': None}

### Create a Dictionary for Frequency of characters in a Given Name

In [265]:
alpha = list()
freq = dict()
name = 'python'
for i in range(97 , 113, 1):
    alpha.append(chr(i))

freq = {}.fromkeys(alpha, 0)
#print(str.ascii_lowercase)
for i in name:
    freq[i] = freq.get(i, 0) +1
print(freq)

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0, 'g': 0, 'h': 1, 'i': 0, 'j': 0, 'k': 0, 'l': 0, 'm': 0, 'n': 1, 'o': 1, 'p': 1, 'y': 1, 't': 1}

### sets in Python
- sets are immutable
- Unordered collections of unique elements

In [266]:
s1 = {1, 2, 3, 1}
s2 = {2, 5, 6, 5}

In [267]:
print(s1.union(s2))

{1, 2, 3, 5, 6}

In [268]:
print(s1.intersection(s2))

{2}

In [270]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [271]:
s1.add(23)

In [272]:
s1

{1, 2, 3, 23}

In [273]:
s1.remove(3)

In [274]:
s1

{1, 2, 23}

In [275]:
s1.pop()

1

In [276]:
s1.pop()

2

In [277]:
s1.pop()

23

In [278]:
s1.pop()

KeyError: 'pop from an empty set'

In [279]:
s1.add(23)

In [280]:
s1.add(3)

In [281]:
s1

{3, 23}

In [282]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}

In [283]:
s1.update(s2)

In [284]:
s1

{1, 2, 3, 4, 5, 6}

In [285]:
s2

{4, 5, 6}

In [286]:
s1.difference(s2)

{1, 2, 3}

In [287]:
s2.difference(s1)

set()

In [288]:
s3 = set()

In [289]:
s3

set()

### Regular Expressions in Python (re module)
- To check the patterns in data
- To Extract rhe data
        - re.search(pattern_string, data_string)

In [309]:
import re
txt = "The rain in Spain"
y = 'The'
print(re.match(y, txt))

<re.Match object; span=(0, 3), match='The'>

In [311]:
import re
txt = "The rain in Spain"
y = 'rain'
print(re.search(y, txt))

<re.Match object; span=(4, 8), match='rain'>

In [313]:
str = "The rain in Spain"
re.findall("ai", str)

['ai', 'ai']