# Introduction to Jupyter Notebook
##### Introduction to Jupyter Notebook
#### Introduction to Jupyter Notebook
### Introduction to Jupyter Notebook
## Introduction to Jupyter Notebook
# Introduction to Jupyter Notebook

**bold text**

**VINAY KUMAR**

*aditya*

*** HAI ***

> Paragraph (blockquote)

1. Aditya
2. Engineering
3. College

- First item
- Second item
- Third item

---

`code`

Cell type Conversion
- from markdown to code 'Esx y'
- from code to markdown 'Esx m'
- from anything to Raw NBConvert 'Esx r'

~~The world is flat.~~

- [x] Write the press release
- [ ] Update the website
- [ ] Contact the media

![aditya logo](aditya.jpg)

[gmail](https://www.gmail.com)

I just love __bold text__.

Love**is**bold

| Roll No | Name |
|---------|-----------|
| Header | Title |
| Paragraph | Text |

```
{
  "firstName": "John",
  "lastName": "Smith",
  "age": 25
}
```

Here's a sentence with a footnote. [^1]

[^1]: This is the footnote.

Heading level 1
===============

Heading level 2
---------------

In [ ]:
### Python keywords list
The following is a list of keywords for the Python programming language. 
False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

In [2]:
34 + 2

36

In [3]:
2 ** 2

4

In [4]:
5 // 2

2

In [5]:
5 / 2

2.5

In [6]:
print(2 ** 2)
print(5 // 2)

4
2

In [7]:
-3 / 2

-1.5

In [8]:
-3 // 2

-2

In [9]:
"Vinay"

'Vinay'

In [10]:
print('Vinay')

Vinay

In [11]:
print("Vinay")

Vinay

In [12]:
2 + 3 ** 2

11

In [13]:
a = 2
b = 3
print(a, b)

2 3

In [14]:
print(a + b)
print(a - b)

5
-1

In [15]:
print(a * b, a ** b, a ^ b)

6 8 1

In [16]:
print( a | b)

3

1. First item
1. Second item
1. Third item
1. Fourth item

1. First item
8. Second item
3. Third item
5. Fourth item

1. First item
2. Second item
3. Third item
    1. Indented item
    2. Indented item
4. Fourth item

In [17]:
s = 'Hello'

In [18]:
s1 = 'World'

In [19]:
print(s + s1)
print((s + ' ' + s1) * 10)

HelloWorld
Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World

In [20]:
type(s)

str

In [21]:
type(a)

int

In [22]:
print(type(a))

<class 'int'>

In [23]:
print(id(a))
id(a)

140716784063328

140716784063328

In [24]:
str(33)

'33'

In [25]:
int('32')

32

In [26]:
float('34.32')

34.32

In [27]:
x = int('55')

In [28]:
x

55

In [29]:
type(x)

int

In [30]:
a = chr('1')

TypeError: an integer is required (got type str)

In [ ]:
a = chr('A')

In [ ]:
a = chr(1)

In [ ]:
a

In [ ]:
int('12.23')

In [ ]:
float('12.23')

In [ ]:
float('12')

In [ ]:
b1 = True
b2 = False

In [ ]:
b1 + b2

In [ ]:
b1 - b2

In [ ]:
b2 - b1

In [ ]:
b1 / b2

In [ ]:
b2 / b1

In [ ]:
b1 ** b2

In [ ]:
b1 ^ b2

In [ ]:
True - 2

In [ ]:
True + 2

In [ ]:
False + 4

In [ ]:
print('Aditya'

In [ ]:
print('Aditya')

In [ ]:
print('Aditya'
     )

In [ ]:
print('Aditya'
)

In [ ]:
5 ^ 3 # 101 bitwise XOR 011 => 110

In [ ]:
s1 = 'single'
s2 = "double"
s3 = '''triple single'''
s4 = """triple double"""

In [ ]:
type(s1, s2, s3, s4)

In [ ]:
type(s1, s2, s3)

In [ ]:
help(type)

In [ ]:
print(s1, s2, s3, s4, sep=',')

In [ ]:
print(s1, s2, s3, s4, sep=',', end = '#')

In [ ]:
s1 = 'I want to learn Python'

In [ ]:
s1 = 'I don\'t want to learn Python'

In [ ]:
s1

In [ ]:
s1 = "I don't want to learn Python"

In [ ]:
s1

In [ ]:
s1 = '''Hello
World
How
Are
You'''

In [ ]:
s1

In [ ]:
print(s1)
s1

In [ ]:
input

In [31]:
t = input("Enter a Value: ")
print(t)

Enter a Value: ADITYA ENGINEERING
ADITYA ENGINEERING

In [32]:
t = input("Enter a Value: ").split()

Enter a Value: ENGINEERING COLLEGE

In [33]:
t

['ENGINEERING', 'COLLEGE']

In [34]:
i = input()

23

In [35]:
type(i)

str

In [36]:
s = input()

12.34

In [37]:
type(s)

str

In [38]:
f = float(input('Enter a Floating Value:  '))

Enter a Floating Value:  12.34

In [39]:
print(f, type(f))

12.34 <class 'float'>

In [40]:
i = float(input('Enter an Integer Value:  '))

Enter an Integer Value:  12.34

In [41]:
print(i)

12.34

In [42]:
i = int(input('Enter an Integer Value:  '))

Enter an Integer Value:  12.34

ValueError: invalid literal for int() with base 10: '12.34'

In [43]:
i = int(input('Enter an Integer Value:  '))

Enter an Integer Value:  12

In [44]:
print(i)

12

In [45]:
s = str(input('Enter a String:  '))

Enter a String:  Aditya

In [46]:
print(s)

Aditya

In [49]:
fname = str(input('Enter First Name'))

Enter First NameVINAY

In [50]:
lname = str(input('Enter Last Name'))

Enter Last NameKUMAR

In [51]:
print(fname[::-1])

YANIV

In [52]:
print(lname[-1::-1])

RAMUK

In [55]:
print(lname, fname)

KUMAR VINAY

In [63]:
f, l = str(input('Enter First Name, Last Name:  '))

Enter First Name, Last Name:  VI

In [64]:
f

'V'

In [65]:
l

'I'

In [67]:
f, l = str(input('Enter First Name, Last Name:  ').split())

Enter First Name, Last Name:  VINAY KUMAR

ValueError: too many values to unpack (expected 2)

In [68]:
f, l = str(input('Enter First Name, Last Name:  ')).split()

Enter First Name, Last Name:  VINAY KUMAR

In [69]:
print(l, f)

KUMAR VINAY

In [70]:
n = int(input('Enter a Number'))

Enter a Number5

In [71]:
print(n*"Python", 'Python'*n)

PythonPythonPythonPythonPython PythonPythonPythonPythonPython

In [72]:
f, l = input('Enter First Name, Last Name:  ').split()

Enter First Name, Last Name:  VINAY KUMAR

In [73]:
f,l

('VINAY', 'KUMAR')