<a href="https://colab.research.google.com/github/bvinaykumarmtech/Python/blob/master/Dec_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Exercise (Display Numbers with range())
for i in range(11): # start= 0, stop= 10, step= 1
  print(i, end= ' ')

0 1 2 3 4 5 6 7 8 9 10

In [3]:
# Exercise (Display Numbers with range())
for i in range(1, 11): # start= 1, stop= 10, step= 1
  print(i, end= ' ')

1 2 3 4 5 6 7 8 9 10

In [4]:
# Exercise (Display Numbers with range())
for i in range(1, 11, 2): # start= 1, stop= 10, step= 2
  print(i, end= ' ')

1 3 5 7 9

In [8]:
# Exercise (Display Numbers with range())
for i in range(10, -10, -1): # start= 10, stop= -9, step= -1
  print(i, end= ' ')

10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9

In [10]:
# Exercise (12 Table)  1 X 12 = 12
num= 12
for i in range(1, 21):
  print(i, 'X', num, '=', i* num )

1 X 12 = 12
2 X 12 = 24
3 X 12 = 36
4 X 12 = 48
5 X 12 = 60
6 X 12 = 72
7 X 12 = 84
8 X 12 = 96
9 X 12 = 108
10 X 12 = 120
11 X 12 = 132
12 X 12 = 144
13 X 12 = 156
14 X 12 = 168
15 X 12 = 180
16 X 12 = 192
17 X 12 = 204
18 X 12 = 216
19 X 12 = 228
20 X 12 = 240

In [16]:
for i in range(5):
  print('* * * * *')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [17]:
for i in range(1, 6):
  print(i, i, i, i, i)

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [19]:
for i in range(1, 6):
  print(i, i+1, i+2, i+3, i+4)

1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9

In [21]:
# Exercise (Pattern)
'''
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
'''
Rows= 5
Columns= 5
for i in range(Rows): # i= 0, 1, 2, 3, 4
  for j in range (Columns): # j= 0, 1, 2, 3, 4, j= 0, 1, 2, 3, 4, J= 0, 1, 2, 3, 4, j= 0, 1, 2, 3, 4, j= 0, 1, 2, 3, 4
    print('*', end= ' ')
  print()
else:
  print('Pattern Successfully Printed')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
Pattern Successfully Printed

In [23]:
# Exercise (Pattern)
'''
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5
'''
for row in range(1, 6): # row= 1, 2, 3, 4, 5
  for column in range(1, 6): # column= 1, 2, 3, 4, 5
    print(row, end= ' ') # print i value
  print() # going for next line after 1st row is over
else:
  print('Successful')

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5
Successful

In [24]:
# Exercise (Pattern)
'''
1 2 3 4 5    
1 2 3 4 5   
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
'''
for row in range(1, 6):
  for column in range(1, 6):
    print(column, end= ' ')
  print()
else:
  print('Successful')

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
Successful

In [30]:
N= int(input('Enter a Number:  '))
M= int(input('Enter a Number:  '))
for row in range(N):
  for column in range(M):
    print(column+1, end= ' ')
  print()
else:
  print('Success')

Enter a Number:  6
Enter a Number:  9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
Success

In [36]:
# Exercise (Pattern)
'''
* 
* * 
* * * 
* * * * 
* * * * *
'''
N= int(input('Enter any Positive integer:'))
for row in range(1, N+1): # row= 1, 2, 3, 4, 5
  for column in range(row): # column= 1 column= 1, 2 column= 1, 2, 3 column= 1, 2, 3, 4 column= 1, 2, 3, 4, 5
    print('*', end= ' ')
  print()
else:
  print('Success')

Enter any Positive integer:10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
Success

In [38]:
# Exercise (Pattern)
'''
1  
2 2  
3 3 3  
4 4 4 4  
5 5 5 5 5
'''
N= int(input('Enter any positive number:   '))
for row in range(1, N+1): # row= 1, 2
  for column in range(row): # column= 0 column= 0, 1
    print(row, end= ' ')
  print()
else:
  print('Success')

Enter any positive number:   8
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
Success

In [41]:
# Exercise (Pattern)
'''
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
'''
for row in range(1, 6): # row= 1
  for column in range(row): # column= 0
    print(column+1, end= ' ')
  print()
else:
  print('Success')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
Success