<a href="https://colab.research.google.com/github/bvinaykumarmtech/Python/blob/master/Dec_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
# Exercise (Patterns)
'''
* * * * $
* * * $ $
* * $ $ $
* $ $ $ $
$ $ $ $ $
'''
N=1
Num= int(input('Enter any Number:   '))
for row in range(1, Num+1):
  for space in range(Num-N):
    print('*', end= ' ')
  N= N+ 1
  for column in range(1, row+1):
    print('$', end= ' ')
  print()
else:
  print('Success')

Enter any Number:   5
        $
      $ $
    $ $ $
  $ $ $ $
$ $ $ $ $
Success

In [45]:
# Exercise (Patterns)
'''
* * * * 1
* * * 1 2
* * 1 2 3
* 1 2 3 4
1 2 3 4 5
'''
N=1
Num= int(input('Enter any Number:   '))
for row in range(1, Num+ 1):
  for space in range(Num- N):
    print('*', end= ' ')
  N= N+ 1
  for column in range(1, row+1):
    print(column, end= ' ')
  print()
else:
  print('Success')

Enter any Number:   5
* * * * 1
* * * 1 2
* * 1 2 3
* 1 2 3 4
1 2 3 4 5
Success

In [47]:
# Exercise (Patterns)
'''
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5
'''
N=1
Num= int(input('Enter any Number:   '))
for row in range(1, Num+ 1):
  for space in range(Num- N):
    print(' ', end= ' ')
  N= N+ 1
  for column in range(row):
    print(row, end= ' ')
  print()
else:
  print('Success')

Enter any Number:   5
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5
Success

In [49]:
# Exercise (Patterns)
'''
* * * * 1
* * * 2 3
* * 4 5 6
* 7 8 9 10
11 12 13 14 15
'''
N= 1
M= 1
Num= int(input('Enter any Number:   '))
for row in range(1, Num+ 1):
  for space in range(Num- N):
    print('*', end= ' ')
  N= N+ 1
  for column in range(1, row+1):
    print(M, end= ' ')
    M= M+ 1
  print()
else:
  print('Success')

Enter any Number:   5
* * * * 1
* * * 2 3
* * 4 5 6
* 7 8 9 10
11 12 13 14 15
Success