<a href="https://colab.research.google.com/github/bvinaykumarmtech/Python/blob/master/Jan_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
''' List - A list in Python is a data structure (data type).
         - list is a class.
         - List is a Sequence.
         - Lists are mutable.
         - List stores Heterogeneous Elements.
         - Lists are Growable.'''

In [2]:
l= [] # Empty List
l1= list() # Empty List
l2= [1] # List with 1 element
l3= [1, 2.3, "Aditya", (4+5j)] # List with Heterogenous Elements

In [11]:
# List of lists
l= [[1,2], [3, 4, 5], [6, 7, 8, 9]]
'''for i in l:
  print(i)
print(l[0])
print(l[0][0])
print(l[0][-1]) # print(l[0][1])
print(l[2][3]) # print(l[-1][-1])'''
l[0].insert(0, 0)
print(l)
l[2].remove(6)
print(l)
del (l[-1][-1])
print(l)

[[0, 1, 2], [3, 4, 5], [6, 7, 8, 9]]
[[0, 1, 2], [3, 4, 5], [7, 8, 9]]
[[0, 1, 2], [3, 4, 5], [7, 8]]

In [15]:
# Exercise
l= [[2,1], [4,3], [6,5]]
# Sort the above list of lists in Assending order
l[0].sort()
l[1].sort()
l[2].sort()
print(l)

[[1, 2], [3, 4], [5, 6]]

In [17]:
l= [1, 2, 4, 5, 6]
l.insert(2, 3)
print(l)

[1, 2, 3, 4, 5, 6]

In [ ]:
''' Tuple - Tuple is a class in Python.
          - Tuples are immutable like strings.
          - Tuple elements/objects might be mutable.
          - Tuple is a data structure. (data type)
          - Tuples are sequences.
          - Tuples stores Heterogeneous Elements.
          - Tuples are not growable.'''

In [22]:
t= () # Empty tuple
t1= tuple() # Empty tuple
t2= (1, ) # tuple with 1 element should contain comma operator
t3= 1, # Tuple with 1 element should contain comma operator
t4= 1, 2.3, "Aditya", [1,2,3], (2+4j) # tuple with heterogeneous Elements
t5= (1, 2.3, "Aditya", [1,2,3], (2+4j)) # tuple with heterogeneous Elements
print(t, t1, t2, t3, t4, t5, sep= '\n')

()
()
(1,)
(1,)
(1, 2.3, 'Aditya', [1, 2, 3], (2+4j))
(1, 2.3, 'Aditya', [1, 2, 3], (2+4j))

In [28]:
t= 1, 2, 3, 4
a, b, c, d = 1, 2, 3, 4
print(type(t), t)
print(type(a), type(b), type(c), type(d), a, b, c, d, sep= '\t')

<class 'tuple'> (1, 2, 3, 4)
<class 'int'>	<class 'int'>	<class 'int'>	<class 'int'>	1	2	3	4

In [37]:
# Passing iterable
s= "ADITYA"
l= list(s)
print(l)
l1= [1, "Aditya"]
t= tuple(l1)
print(t)
l2= list(t)
print(l2)
t1= tuple(s)
print(t1)

['A', 'D', 'I', 'T', 'Y', 'A']
(1, 'Aditya')
[1, 'Aditya']
('A', 'D', 'I', 'T', 'Y', 'A')

In [43]:
a= "Aditya"
b= "Engineering"
c= "College"
t= a, b, c
print(t)

('Aditya', 'Engineering', 'College')

In [45]:
t= (1, 2, [3,4], (5,6))
print(t[2])
print(t[-1])

[3, 4]
(5, 6)

In [50]:
t= (1, [2,3], 3.4, (5, 6))
print(t.index((5,6)))
print(t.index(10))

3

ValueError: ignored