<a href="https://colab.research.google.com/github/bvinaykumarmtech/Python/blob/master/Python_Basics_(08_03_2022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Even or Odd
number = int(input('Enter any Number:  '))
if number % 2 == 1:
  print('The Given number is Odd')
else:
  print('The Given Number is Even')

Enter any Number:  56
The Given Number is Even

In [ ]:
# If Number is Even Say 'Hai' Otherwise 'Bye'
number = int(input('Enter any Number:'))
a = number % 2
if a == 0:
  print('Hai')
else:
  print('Bye')

Enter any Number:56
Hai

In [ ]:
# List is a Sequence like Strings
# List is Mutable
# List is a Class
# List is a Heterogeneous Container (It may have same type of elements or Different Type)

# How to Create an Empty List

L = list()
# Adding Elements to a List
L.append(1) # Integer
L.append(2.2) # Float
L.append("Paul") # String

# Displaying List Elements
print(L)

[1, 2.2, 'Paul']

In [ ]:
# Element by Element Access
for i in L:
  print(i)

1
2.2
Paul

In [ ]:
for i in range(len(L)):
  print(i, '=>', L[i])

0 => 1
1 => 2.2
2 => Paul

In [ ]:
i = 0
while i < len(L):
  print(i, '=>', L[i])
  i = i + 1

0 => 1
1 => 2.2
2 => Paul

In [ ]:
# List of Integers
L = [1, 2, 3, 4, 5, 6, 7]
print('The Number of Elements of a List is: ', len(L)) # Length
print("First Element of List is: ", L[0]) # Indexing
print('Last Element of List is: ', L[-1])

The Number of Elements of a List is:  7
First Element of List is:  1
Last Element of List is:  7

In [ ]:
# Accessing Alternative Elements (Slicing)
print(L[0:6:2])

[1, 3, 5]

In [ ]:
# Reverse the List
print(L[::-1])

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
print(L)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Compute Sum of List Elements
L1 = [2, 4, 1, 5, 7, 6, 12, 36, 45] # Defining List
S = 0 # Initializing Sum Variable
for i in L1: # Accessing List Elements
  S = S + i # Adding an Element to the List
print("Sum of List is: ", S) # Displaying the Result

Sum of List is:  118

In [ ]:
# Find the Sum of Even and Odd Numbers of a List
L2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ESum = 0; OSum = 0
for i in L2:
  if i % 2 == 0:
    ESum += i
  else:
    OSum += i
print('The Sum of Even Elements: ', ESum); print('The Sum of Odd Elements: ', OSum)

The Sum of Even Elements:  30
The Sum of Odd Elements:  25

In [ ]:
# Find the Even Indexed Sum of List Elements
L3 = [2, 3, 5, 4, 7, 8, 9]
Sum = 0
for i in range(0, len(L3), 2):
  Sum = Sum + L3[i]
print("Even Indexed Elements Sum is: ", Sum)

Even Indexed Elements Sum is:  23

In [ ]:
# Find the Odd Indexed Sum of List Elements
L3 = [2, 3, 5, 4, 7, 8, 9]
Sum = 0
for i in range(1, len(L3), 2):
  Sum = Sum + L3[i]
print("Odd Indexed Elements Sum is: ", Sum)

Odd Indexed Elements Sum is:  15

In [1]:
# Tuple
# Tuple also a Sequence like List
# Tuple is Immutable like string
# Tuple supports indexing, slicing also

# Creation of an Empty Tuple

t = ()

print(t)

()

In [2]:
t = tuple()
print(t)

()

In [3]:
t1 = (1, 2, 3, 4, 5)
# Display tuple elements
for i in t1:
  print(i)

1
2
3
4
5

In [5]:
for i in range(len(t1)):
  print(t1[i])

1
2
3
4
5

In [6]:
print(min(t1))

1

In [7]:
print(max(t1))

5

In [8]:
print(sum(t1))

15

In [10]:
t1

(1, 2, 3, 4, 5)

In [11]:
t1[0:3]

(1, 2, 3)

In [12]:
t1[::-1]

(5, 4, 3, 2, 1)

In [14]:
print(dir(t1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [15]:
t = (1, 2, 1, 4, 1, 4, 1, 2)

In [18]:
print(t.count(2))

2

In [23]:
print(t[::-1].count(2))

2

In [30]:
t = ("One", "Two", "Three", "Four")

print(t[0][::-1])

enO

In [31]:
print(t[2][1:4])

hre

In [34]:
t = ([1, 2, 3], [4, 5, 6])
for i in t:
  for j in i:
    print(j)

1
2
3
4
5
6

In [35]:
t = (1, 'ABC', [1, 2, 3], 2.3)
for i in t:
  print(i)

1
ABC
[1, 2, 3]
2.3

In [36]:
print(sum(t[2]))

6

In [40]:
print(len(t[1]))

3

In [41]:
# Set
s = set() # set() used to create an Empty Set

print(s)

set()

In [47]:
S = {'Str', 1, 2.6, 3, 4, 1, 2, 5, (5, 6, 7)}
print(len(S))

8

In [51]:
S

{(5, 6, 7), 1, 2, 2.6, 3, 4, 5, 'Str'}

In [53]:
print(dir(S))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [54]:
S.add('XYZ')

In [55]:
S

{(5, 6, 7), 1, 2, 2.6, 3, 4, 5, 'Str', 'XYZ'}

In [59]:
print(S.remove(2))

None

In [ ]:
S

In [63]:
s = {1, 2, 3}
t = {3, 4, 5}

print(s.union(t))

{1, 2, 3, 4, 5}

In [64]:
print(s.intersection(t))

{3}

In [66]:
print(t.difference(s))

{4, 5}