<a href="https://colab.research.google.com/github/bvinaykumarmtech/Python/blob/master/Python_Basics_(08_03_2022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Even or Odd
number = int(input('Enter any Number:  '))
if number % 2 == 1:
  print('The Given number is Odd')
else:
  print('The Given Number is Even')

Enter any Number:  56
The Given Number is Even

In [ ]:
# If Number is Even Say 'Hai' Otherwise 'Bye'
number = int(input('Enter any Number:'))
a = number % 2
if a == 0:
  print('Hai')
else:
  print('Bye')

Enter any Number:56
Hai

In [ ]:
# List is a Sequence like Strings
# List is Mutable
# List is a Class
# List is a Heterogeneous Container (It may have same type of elements or Different Type)

# How to Create an Empty List

L = list()
# Adding Elements to a List
L.append(1) # Integer
L.append(2.2) # Float
L.append("Paul") # String

# Displaying List Elements
print(L)

[1, 2.2, 'Paul']

In [ ]:
# Element by Element Access
for i in L:
  print(i)

1
2.2
Paul

In [ ]:
for i in range(len(L)):
  print(i, '=>', L[i])

0 => 1
1 => 2.2
2 => Paul

In [ ]:
i = 0
while i < len(L):
  print(i, '=>', L[i])
  i = i + 1

0 => 1
1 => 2.2
2 => Paul

In [ ]:
# List of Integers
L = [1, 2, 3, 4, 5, 6, 7]
print('The Number of Elements of a List is: ', len(L)) # Length
print("First Element of List is: ", L[0]) # Indexing
print('Last Element of List is: ', L[-1])

The Number of Elements of a List is:  7
First Element of List is:  1
Last Element of List is:  7

In [ ]:
# Accessing Alternative Elements (Slicing)
print(L[0:6:2])

[1, 3, 5]

In [ ]:
# Reverse the List
print(L[::-1])

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
print(L)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Compute Sum of List Elements
L1 = [2, 4, 1, 5, 7, 6, 12, 36, 45] # Defining List
S = 0 # Initializing Sum Variable
for i in L1: # Accessing List Elements
  S = S + i # Adding an Element to the List
print("Sum of List is: ", S) # Displaying the Result

Sum of List is:  118

In [ ]:
# Find the Sum of Even and Odd Numbers of a List
L2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ESum = 0; OSum = 0
for i in L2:
  if i % 2 == 0:
    ESum += i
  else:
    OSum += i
print('The Sum of Even Elements: ', ESum); print('The Sum of Odd Elements: ', OSum)

The Sum of Even Elements:  30
The Sum of Odd Elements:  25

In [ ]:
# Find the Even Indexed Sum of List Elements
L3 = [2, 3, 5, 4, 7, 8, 9]
Sum = 0
for i in range(0, len(L3), 2):
  Sum = Sum + L3[i]
print("Even Indexed Elements Sum is: ", Sum)

Even Indexed Elements Sum is:  23

In [ ]:
# Find the Odd Indexed Sum of List Elements
L3 = [2, 3, 5, 4, 7, 8, 9]
Sum = 0
for i in range(1, len(L3), 2):
  Sum = Sum + L3[i]
print("Odd Indexed Elements Sum is: ", Sum)

Odd Indexed Elements Sum is:  15

In [ ]:
# Tuple
# Tuple also a Sequence like List
# Tuple is Immutable like string
# Tuple supports indexing, slicing also

# Creation of an Empty Tuple

t = ()

print(t)

()

In [ ]:
t = tuple()
print(t)

()

In [ ]:
t1 = (1, 2, 3, 4, 5)
# Display tuple elements
for i in t1:
  print(i)

1
2
3
4
5

In [ ]:
for i in range(len(t1)):
  print(t1[i])

1
2
3
4
5

In [ ]:
print(min(t1))

1

In [ ]:
print(max(t1))

5

In [ ]:
print(sum(t1))

15

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1[0:3]

(1, 2, 3)

In [ ]:
t1[::-1]

(5, 4, 3, 2, 1)

In [ ]:
print(dir(t1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
t = (1, 2, 1, 4, 1, 4, 1, 2)

In [ ]:
print(t.count(2))

2

In [ ]:
print(t[::-1].count(2))

2

In [ ]:
t = ("One", "Two", "Three", "Four")

print(t[0][::-1])

enO

In [ ]:
print(t[2][1:4])

hre

In [ ]:
t = ([1, 2, 3], [4, 5, 6])
for i in t:
  for j in i:
    print(j)

1
2
3
4
5
6

In [ ]:
t = (1, 'ABC', [1, 2, 3], 2.3)
for i in t:
  print(i)

1
ABC
[1, 2, 3]
2.3

In [ ]:
print(sum(t[2]))

6

In [ ]:
print(len(t[1]))

3

In [ ]:
# Set
s = set() # set() used to create an Empty Set

print(s)

set()

In [ ]:
S = {'Str', 1, 2.6, 3, 4, 1, 2, 5, (5, 6, 7)}
print(len(S))

8

In [ ]:
S

{(5, 6, 7), 1, 2, 2.6, 3, 4, 5, 'Str'}

In [ ]:
print(dir(S))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
S.add('XYZ')

In [ ]:
S

{(5, 6, 7), 1, 2, 2.6, 3, 4, 5, 'Str', 'XYZ'}

In [ ]:
print(S.remove(2))

None

In [ ]:
S

In [ ]:
s = {1, 2, 3}
t = {3, 4, 5}

print(s.union(t))

{1, 2, 3, 4, 5}

In [ ]:
print(s.intersection(t))

{3}

In [ ]:
print(t.difference(s))

{4, 5}

In [ ]:
# Dictionary

print(dir(dict()))
print(dir({}))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
# Creation of an Empty Dictionary
d = {}
print(d)

{}

In [15]:
d = {1:'Abc', 2:'Def', 3:'xyz'} # dictionary with 3 keys and values
d1 = { 'Vijayawada': 10000, 'Kakinada': 20000, 'Tirupati': 3000}

In [16]:
print(d)
# Adding a new element to dictionary
d[4]='vbn'

{1: 'Abc', 2: 'Def', 3: 'xyz'}

In [17]:
# Display Whole Dictionary
print(d)

{1: 'Abc', 2: 'Def', 3: 'xyz', 4: 'vbn'}

In [18]:
# Accessing single value using Key
print(d[2])

Def

In [19]:
# 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values'
print(d1)
d1.clear()
print(d1)

{'Vijayawada': 10000, 'Kakinada': 20000, 'Tirupati': 3000}
{}

In [20]:
# copy
d2 = {1:2, 3:4, 5:6, 7:8, 9:0}
d3 = d2.copy()
d4 = d2
print(d3)
print(d4)

{1: 2, 3: 4, 5: 6, 7: 8, 9: 0}
{1: 2, 3: 4, 5: 6, 7: 8, 9: 0}

In [ ]:
help(d.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [38]:
# cREATION OF dICTIONARY USING A lIST
l = ["Vijayawada", "Guntur", "Ongole", "Amaravati"]
sales = dict.fromkeys(l)
print(sales)

{'Vijayawada': None, 'Guntur': None, 'Ongole': None, 'Amaravati': None}

In [39]:
sales['Vijayawada'] = 12345
sales['Ongole'] = 23547
sales['Amaravati'] = 87654
sales['Guntur'] = 25478

In [40]:
print(sales)

{'Vijayawada': 12345, 'Guntur': 25478, 'Ongole': 23547, 'Amaravati': 87654}

In [41]:
help(sales.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [42]:
print(sales['Guntur'])
print(sales.get('Guntur', 0))

25478
25478

In [43]:
print(sales.get('Kakinada', 0))

0

In [44]:
help(sales.items)

Help on built-in function items:

items(...) method of builtins.dict instance
    D.items() -> a set-like object providing a view on D's items

In [45]:
# Using for with items()
for i, j in sales.items():
  print(i, j)

Vijayawada 12345
Guntur 25478
Ongole 23547
Amaravati 87654

In [46]:
print(dir({}))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [47]:
print(help({}.keys))

Help on built-in function keys:

keys(...) method of builtins.dict instance
    D.keys() -> a set-like object providing a view on D's keys

None

In [48]:
print(sales.keys())

dict_keys(['Vijayawada', 'Guntur', 'Ongole', 'Amaravati'])

In [61]:
for i in sales.keys():
  print(i)

In [50]:
help(sales.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [51]:
print(sales.pop('Guntur'))

25478

In [52]:
help(sales.popitem)

Help on built-in function popitem:

popitem(...) method of builtins.dict instance
    D.popitem() -> (k, v), remove and return some (key, value) pair as a
    2-tuple; but raise KeyError if D is empty.

In [59]:
print(sales)

{}

In [60]:
sales.popitem()

KeyError: ignored

In [62]:
help({}.setdefault)

Help on built-in function setdefault:

setdefault(key, default=None, /) method of builtins.dict instance
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [63]:
sales['DMART'] = 5689

In [64]:
print(sales)

{'DMART': 5689}

In [67]:
sales.setdefault('PVP', 2354)

In [68]:
print(sales)

{'DMART': 5689, 'PVP': None}

In [70]:
sales.setdefault('def', 1234)

1234

In [71]:
sales

{'DMART': 5689, 'PVP': None, 'abc': None, 'def': 1234}

In [73]:
sales.setdefault('def', 234)

1234

In [74]:
help({}.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [85]:
E = ((1, 2), (3, 4))
F = ((5, 6), (7, 8))
sales.update(E)

In [79]:
sales

{1: 2, 3: 4, 'DMART': 5689, 'PVP': None, 'abc': None, 'def': 1234}

In [86]:
for i in sales.values():
  print(i)

5689
None
None
1234
2
4

In [90]:
# Introduction to Python Functions
# A Function is a set of statements used to perform some kind of meaningful task
# Function in Python starts with 'def' Keyword

# Write a Python function to Wish

def Greet():            # Function Definition
  print("Hello, World")
  print("Hello, Python")

Greet()                 # Calling of a Function

Hello, World
Hello, Python

In [92]:
# Write a Python Function to add 2 Integers

def Add():
  A = int(input('Enter any Number:  '))
  B = int(input('Enter any Number:  '))
  C = A + B
  print("The Sum is: ", C)
Add()     # Calling a Function

Enter any Number:  10
Enter any Number:  20
The Sum is:  30

In [95]:
# Write a Python Function to add 2 Integers

def Add(A, B):
  C = A + B
  print("The Sum is: ", C)


A = int(input('Enter any Number:  '))
B = int(input('Enter any Number:  '))
Add(A, B)     # Calling a Function

Enter any Number:  8
Enter any Number:  2
The Sum is:  10

In [98]:
# Write a Python Function to Find the Given Number is Even or Odd

def Even_or_Odd():
  Number = int(input('Enter any Number:  '))
  if Number % 2 == 0:
    print('Even')
  else:
    print('Odd')

Even_or_Odd()

Enter any Number:  156
Even

In [100]:
# Python Function to Generate Multiplication Table using Functions

def Mul_Table():
  number = int(input('Enter a Number:  '))
  for i in range(1, 11):
    print(i, 'x', number, '=', i*number)

Mul_Table()

Enter a Number:  7
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

In [102]:
# Python Function to Find out Biggest of 3 numbers
def Biggest():
  a = int(input('Enter First Number: '))
  b = int(input('Enter Second Number: '))
  c = int(input('Enter Third Number: '))
  big = -1
  if a > b and a > c:
    big = a
  elif b>a and b>c:
    big = b
  else:
    big = c
  return big

Big = Biggest()
print('Biggest of Three Numbers is:  ', Big)

Enter First Number: 6
Enter Second Number: 5
Enter Third Number: 4
Biggest of Three Numbers is:   6

In [104]:
# Python Program to add List Elements

L = [1, 4, 6, 8, 4, 2, 3]

def Add():
  S = 0
  for i in L:
    S = S + i
  print('The Sum is:  ', S)

Add()

The Sum is:   28

In [107]:
# write a Python Function to Swap 2 Integers

A = 10
B = 20
def Swap(A, B):
  print("A and B Values Before Swapping: ", A, B)
  A, B = B, A
  print("A and B Values After Swapping: ", A, B)
Swap(A, B)

A and B Values Before Swapping:  10 20
A and B Values After Swapping:  20 10

In [110]:
# Write a Python Script to Generate a Sequence using Functions

def Seq():
  for i in range(1, 21):
    print(i, end = ' ')

Seq()

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20