<a href="https://colab.research.google.com/github/bvinaykumarmtech/Python/blob/master/Python_Basics_(08_03_2022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Even or Odd
number = int(input('Enter any Number:  '))
if number % 2 == 1:
  print('The Given number is Odd')
else:
  print('The Given Number is Even')

Enter any Number:  56
The Given Number is Even

In [ ]:
# If Number is Even Say 'Hai' Otherwise 'Bye'
number = int(input('Enter any Number:'))
a = number % 2
if a == 0:
  print('Hai')
else:
  print('Bye')

Enter any Number:56
Hai

In [ ]:
# List is a Sequence like Strings
# List is Mutable
# List is a Class
# List is a Heterogeneous Container (It may have same type of elements or Different Type)

# How to Create an Empty List

L = list()
# Adding Elements to a List
L.append(1) # Integer
L.append(2.2) # Float
L.append("Paul") # String

# Displaying List Elements
print(L)

[1, 2.2, 'Paul']

In [ ]:
# Element by Element Access
for i in L:
  print(i)

1
2.2
Paul

In [ ]:
for i in range(len(L)):
  print(i, '=>', L[i])

0 => 1
1 => 2.2
2 => Paul

In [ ]:
i = 0
while i < len(L):
  print(i, '=>', L[i])
  i = i + 1

0 => 1
1 => 2.2
2 => Paul

In [ ]:
# List of Integers
L = [1, 2, 3, 4, 5, 6, 7]
print('The Number of Elements of a List is: ', len(L)) # Length
print("First Element of List is: ", L[0]) # Indexing
print('Last Element of List is: ', L[-1])

The Number of Elements of a List is:  7
First Element of List is:  1
Last Element of List is:  7

In [ ]:
# Accessing Alternative Elements (Slicing)
print(L[0:6:2])

[1, 3, 5]

In [ ]:
# Reverse the List
print(L[::-1])

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
print(L)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Compute Sum of List Elements
L1 = [2, 4, 1, 5, 7, 6, 12, 36, 45] # Defining List
S = 0 # Initializing Sum Variable
for i in L1: # Accessing List Elements
  S = S + i # Adding an Element to the List
print("Sum of List is: ", S) # Displaying the Result

Sum of List is:  118

In [ ]:
# Find the Sum of Even and Odd Numbers of a List
L2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ESum = 0; OSum = 0
for i in L2:
  if i % 2 == 0:
    ESum += i
  else:
    OSum += i
print('The Sum of Even Elements: ', ESum); print('The Sum of Odd Elements: ', OSum)

The Sum of Even Elements:  30
The Sum of Odd Elements:  25

In [ ]:
# Find the Even Indexed Sum of List Elements
L3 = [2, 3, 5, 4, 7, 8, 9]
Sum = 0
for i in range(0, len(L3), 2):
  Sum = Sum + L3[i]
print("Even Indexed Elements Sum is: ", Sum)

Even Indexed Elements Sum is:  23

In [ ]:
# Find the Odd Indexed Sum of List Elements
L3 = [2, 3, 5, 4, 7, 8, 9]
Sum = 0
for i in range(1, len(L3), 2):
  Sum = Sum + L3[i]
print("Odd Indexed Elements Sum is: ", Sum)

Odd Indexed Elements Sum is:  15

In [ ]:
# Tuple
# Tuple also a Sequence like List
# Tuple is Immutable like string
# Tuple supports indexing, slicing also

# Creation of an Empty Tuple

t = ()

print(t)

()

In [ ]:
t = tuple()
print(t)

()

In [ ]:
t1 = (1, 2, 3, 4, 5)
# Display tuple elements
for i in t1:
  print(i)

1
2
3
4
5

In [ ]:
for i in range(len(t1)):
  print(t1[i])

1
2
3
4
5

In [ ]:
print(min(t1))

1

In [ ]:
print(max(t1))

5

In [ ]:
print(sum(t1))

15

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1[0:3]

(1, 2, 3)

In [ ]:
t1[::-1]

(5, 4, 3, 2, 1)

In [ ]:
print(dir(t1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
t = (1, 2, 1, 4, 1, 4, 1, 2)

In [ ]:
print(t.count(2))

2

In [ ]:
print(t[::-1].count(2))

2

In [ ]:
t = ("One", "Two", "Three", "Four")

print(t[0][::-1])

enO

In [ ]:
print(t[2][1:4])

hre

In [ ]:
t = ([1, 2, 3], [4, 5, 6])
for i in t:
  for j in i:
    print(j)

1
2
3
4
5
6

In [ ]:
t = (1, 'ABC', [1, 2, 3], 2.3)
for i in t:
  print(i)

1
ABC
[1, 2, 3]
2.3

In [ ]:
print(sum(t[2]))

6

In [ ]:
print(len(t[1]))

3

In [ ]:
# Set
s = set() # set() used to create an Empty Set

print(s)

set()

In [ ]:
S = {'Str', 1, 2.6, 3, 4, 1, 2, 5, (5, 6, 7)}
print(len(S))

8

In [ ]:
S

{(5, 6, 7), 1, 2, 2.6, 3, 4, 5, 'Str'}

In [ ]:
print(dir(S))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
S.add('XYZ')

In [ ]:
S

{(5, 6, 7), 1, 2, 2.6, 3, 4, 5, 'Str', 'XYZ'}

In [ ]:
print(S.remove(2))

None

In [ ]:
S

In [ ]:
s = {1, 2, 3}
t = {3, 4, 5}

print(s.union(t))

{1, 2, 3, 4, 5}

In [ ]:
print(s.intersection(t))

{3}

In [ ]:
print(t.difference(s))

{4, 5}

In [3]:
# Dictionary

print(dir(dict()))
print(dir({}))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [5]:
# Creation of an Empty Dictionary
d = {}
print(d)

{}

In [7]:
d = {1:'Abc', 2:'Def', 3:'xyz'} # dictionary with 3 keys and values
d1 = { 'Vijayawada': 10000, 'Kakinada': 20000, 'Tirupati': 3000}

In [8]:
# Adding a new element to dictionary
d[4]='vbn'

In [11]:
# Display Whole Dictionary
print(d)

{1: 'Abc', 2: 'Def', 3: 'xyz', 4: 'vbn'}

In [12]:
# Accessing single value using Key
print(d[2])

Def

In [14]:
# 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values'
print(d1)
d1.clear()
print(d1)

{'Vijayawada': 10000, 'Kakinada': 20000, 'Tirupati': 3000}
{}

In [17]:
d2 = {1:2, 3:4, 5:6, 7:8, 9:0}
d3 = d2.copy()
d4 = d2
print(d3)
print(d4)

{1: 2, 3: 4, 5: 6, 7: 8, 9: 0}
{1: 2, 3: 4, 5: 6, 7: 8, 9: 0}

In [18]:
help(d.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [22]:
l = ["Vijayawada", "Guntur", "Ongole", "Amaravati"]
sales = dict.fromkeys(l)
print(sales)

{'Vijayawada': None, 'Guntur': None, 'Ongole': None, 'Amaravati': None}

In [25]:
sales['Vijayawada'] = 12345
sales['Ongole'] = 23547
sales['Amaravati'] = 87654
sales['Guntur'] = 25478

In [26]:
print(sales)

{'Vijayawada': 12345, 'Guntur': 25478, 'Ongole': 23547, 'Amaravati': 87654}

In [27]:
help(sales.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [32]:
print(sales.get('Guntur', 0))

25478

In [30]:
print(sales.get('Kakinada', 0))

0

In [33]:
help(sales.items)

Help on built-in function items:

items(...) method of builtins.dict instance
    D.items() -> a set-like object providing a view on D's items

In [36]:
# Using for with items()
for i, j in sales.items():
  print(i, j)

Vijayawada 12345
Guntur 25478
Ongole 23547
Amaravati 87654